html, body {
  background: #F5F5F5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width:100%;
}

.main #disqus_thread {
  margin-left: -30px;
}

.navbar-nav {
  font-size: 20px;
}

.header {
  padding: 15px;
}

.header img {
  display: inline-block;
}

.header h1 {
  display: inline-block;
  text-align: center;
}

.main {
  background-color: #f2f2f2;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif
}

.main h1 {
  color: #444;
  font-size: 64px;
  margin: 0 0 50px 0;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

.main h2 {
  background-color: #444;
  color: #FFF;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
  margin-left: -30px;
  margin-right: 0px;
  margin-bottom: 40px;
}

.inputs {
  font-size: 12px;
  margin: 0 0 40px 0;
  text-align: center;
}

.buttons {
  font-size: 12px;
  margin: 0 0 40px 0;
  text-align: center;
}

.thumbnail {
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom: 50px;
}

.thumbnail img {
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 100%;
}

.file, .folder {
  cursor: pointer;
  cursor: hand;
}

.file:hover, .folder:hover {
  background-color: #f1f1f1;
}

#audio {
  width: 100%;
  display: none;
}

#audioId {
  width: 100%;
  display: block;
}

#video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  display: none;
}

#videoId {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  display: block;
}

#video iframe, #videoId iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading {
  display: none;
}

#file {
  display: none;
  position: relative;
}

#file .rating {
  margin-right: 30px;
  margin-bottom: 5px;
}

#loadSongs {
  cursor: pointer;
  cursor: hand;
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

#loadDisqus {
  cursor: pointer;
  cursor: hand;
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom: 50px;
  text-align: center;
}

.title,
.date {
  color: #444;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.folderTitle {
  color: #444;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.fileTitle {
  color: #444;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}

.date {
  color: #a3a3a3 ;
  font-size: 14px;
  font-weight: 200;
}

.rating {
  text-align: right;
  -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
  margin: 30px 0 -30px 20px;
}

.likes {
  background: #3CB371;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.close {
  background: lightgrey;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px 0 40px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.download {
  background: #F65A5B;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.likes:hover,
.download:hover,
.close:hover {
  color: #F65A5B;
  background: rgba(246, 90, 91, 0.25);
  transition: background 500ms;
}

.video {
  width: 100% !important;
  height: auto !important;
}

.footer {
  text-align: center;
  margin: 80px 0 110px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}
