<!-- Loading Animation -->
<div id="loading">
  <div id="system" class="container">
    <div id="sun"><p><strong>LOADING</strong></p></div>
      <div id="earth-orbit">
        <!-- Insert the 'earth' on the next line -->
        <div id="earth"></div>
        <div id="moon-orbit">
          <div id="moon"></div>
        </div>
     </div>
  </div>
</div>
<div>
<!-- Login to Google Drive -->
<div id="authorize-div" class="col-md-12">
  <div id="loginButton" class="thumbnail folder" onclick="handleAuthClick(event);">
    <p class="title folderTitle">{{ loginMessage }}</p>
  </div>
</div>

  <div id="loadSongs" class="thumbnail folder" ng-click="getFiles();">
    <p class="title folderTitle">Enter</p>
  </div>
  <div class="container">
    <div ng-repeat="folder in folders" class="col-md-6">
      <div class="thumbnail folder" ng-click="openFolder($index)">
        <p class="folderTitle">{{ folder.name }}</p>
      </div>
    </div>
  </div>
  <hr>

  <div id="file" class="container">
    <br><br>
    <p class="closeFile" ng-click="closeFile()"> x </p>
    <p class="fileTitle">{{ file.name }}</p>
    <br><br>
    <audio id="audio" preload="auto" controls>
      <source id="m4aSource" ng-src="{{ file.path }}" type="audio/mp4" />
      <p>Your browser does not support HTML5 audio.</p>
    </audio>
    <div id="video">
      <iframe src="{{ file.previewPath }}"></iframe>
    </div>
    <p class="date">{{ file.pubdate | date}} </p>
    <div class="fileButtons">
      <p class="likes" ng-click="plusOneOnFile()">+{{ file.likes }}</p>
      <p class="download" ng-click="downloadFile()"> ->] </p>
    </div>
    <br>
    <div id="disqus_thread"></div>
    <br>
  </div>
  <hr>

  <div id="files" class="container">
    <div ng-repeat="song in files" class="col-md-6">
      <div id="{{ song.id }}" class="thumbnail file" ng-click="openFile($index)">
        <p class="title">{{ song.name }}</p>
        <p class="date">{{ song.pubdate | date}} </p>
        <div class="fileButtons">
          <p class="likes" ng-click="plusOne($index)">+{{ song.likes }}</p>
          <p class="download" ng-click="download($index)"> ->] </p>
        </div>
      </div>
    </div>
  </div>
</div>