<div class="main" ng-controller="MainController">
  <div class="container">

    <h1>{{ title }}</h1>
    <h2>{{ promo }}</h2>
  </div>
    <!-- <input id="add" type="button" value="Add Video" onclick="addVideo();"/>
    <p class="likes" ng-click="addVideo()"></p>

    <div ng-repeat="video in videos" class="col-md-6">
      <video-info info="video"><video-info>
    </div>
  -->

  <div id="system" class="container">
    <div id="sun"></div>
      <div id="earth-orbit">
        <!-- Insert the 'earth' on the next line -->
        <div id="earth"></div>
        <div id="moon-orbit">
          <div id="moon"></div>
        </div>
     </div>

  </div>
</div>
