<!-- This is currently not being used -->
<div class="thumbnail">
  <input id="loadAudio" type="button" value="Audio" onclick="getAudio();"/>
  <audio id"audio" controls preload="none" style="width:auto;">
   <source id="m4aSource" src="{{ info.path }}" type="audio/mp4"/>
   <p>Your browser does not support HTML5 audio.</p>
  </audio>
  <p class="title">{{ info.name }}</p>
  <p class="date">{{ info.pubdate | date}} </p>
  <br>
  <p class="comment">{{ info.comment }}</p>
  <div class="rating">
    <p class="likes" ng-click="plusOne($index)">+{{ info.likes }}</p>
    <p class="dislikes" ng-click="minusOne($index)">+{{ info.dislikes }}</p>
  </div>
</div>
